@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.food-Hub-logo {
    width: 80px;
    height: 70px;
}

#navItem1 {
    color:#323f4b;
    font-family: "Bree Serif";
}

#navItem2 {
    color: #323f4b;
    font-family: "Bree Serif";
}

#navItem3 {
    color: #323f4b;
    font-family: "Bree Serif";
}

#navItem4 {
    color: #323f4b;
    font-family: "Bree Serif";
}
.banner-section-bg-container {
    background-image: url(" images/background image.jpg ");
    height: 100vh;
    background-size: cover;
}  

.banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
}

.banner-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 300;
}

.custom-button {
    color: white;
    background-color: #d0b200;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
    margin-right: 10px;
}

.custom-outline-button {
    color: #d0b200;
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-style: solid;
    border-width: 1px;
    border-color: #d0b200;
    border-radius: 8px;
}
.image3 {
    height:200;
    width:100px;
    padding:15x;
    margin:15px;
}
.About-section {
    background-color: #f9fbfe;
}

.About-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.About-section-description {
    color:black;
    font-family: "Roboto";
    font-size: 16px;
}
.card-container {
    text-align: center;
    background-color:gray;
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 8px;
}
.About-card-image {
    width: 87px;
    height: 90px;
}

.About-card-tag {
    color: black;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 200;
}
.About-card-item {
    text-align: center;
    background-color: white;
    width: 150px;
    border-radius: 9px;
    padding: 15px;
    margin: 20px;
}
.menu-section {
    background-color: white;
}

.menu-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.menu-item-image {
    border-radius: 16px;
}

.menu-card-title {
    color: #323f4b;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
}

.menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.menu-item-card :hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -10px;
    transition-delay: 0.3s;
    border-radius: 16px;
    position:relative;
    flex-wrap:wrap;
    transition: 0.3s ease-in-out;
    box-shadow: 0 5px 202px black;

}
.follow-us-section {
    background-color: white;
}

.follow-us-section-heading {
    text-align: center;
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.follow-us-icon-container {
    background-color: #faf7e8;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
}

.icon {
    color:blue;
    font-size: 35px;
}
.footer-section {
    background-color:gray;
}

.footer-section-mail-id {
    color: black;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.footer-section-address {
    color: black;
    font-family: "Roboto";
    font-size: 14px;
}
.footer-section-tag{
    color: black;
    font-family: "Roboto";
    font-size: 14px;
}